.aboutBg {
  background-image: url("../img/aboutBg.png");
  height: 100vh;
  width: 100vw;
  display: flex; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  background-image: url("../img/back.png");
  width: 17vw;
  height: 7vh;
  position: fixed;
  transition: transform 0.2s ease;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent; 
  cursor: pointer;
  transition: transform 0.2s ease;
  border: none;
  background-color: transparent; 
  right: 2px;
  bottom: 25px;

}

.button:hover {
  transform: scale(1.1);
}

.pfp {
  background-image: url("../img/pfp.png");
  height: 40vh;
  width: 40vw;
  position: fixed;
  left: 40vw;
  bottom: 20vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.shark {
  background-image: url("../img/shark.png");
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vh;
  width: 50vw;
  bottom: 3vw;
  right: 15vw;
}

.flower{
  background-image: url("../img/flower.png");
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  width: 50vw;
  bottom: 4vw;
  left: 10vw;
}

.books {
  background-image: url("../img/book.png");
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 35vh;
  width: 50vw;
  bottom: 4vw;
  left: -20vw;
}

.music {
  background-image: url("../img/music.png");
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
  width: 50vw;
  bottom: 60vh;
  right: -10vw;
}

.cupcake {
  background-image: url("../img/cupcake.png");
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  width: 50vw;
  bottom: 13vh;
  right: -10vw;
}

.sol {
  background-image: url("../img/sol.png");
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
  width: 50vw;
  bottom: 60vh;
  left: -10vw;
}