
.themeToggle {
  position: absolute;
  top: 50px;
  right: 100px;
  z-index: 10;
}

.header-icon {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 10;
}

.themeToggle img {
  width: 500px;
  height: 50px;
  object-fit: fill;
  cursor: pointer;
  transition: opacity 0.4s ease-in-out, transform 0.2s ease-in-out;
}

.themeToggle img:hover {
  transform: scale(1.1);
}

.buttonContainer {
  right: 8vh;  
  margin-top: 30px;
  gap: 20px;              /* space between buttons */
}

.buttonContainer img {
  width: 17vw;            /* size of each button image */
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
  transition: transform 0.2s ease;
}

.buttonContainer img:hover {
  transform: scale(1.1);  /* subtle hover effect */
}

.bg {
  background-image: url("../img/mainBg.png");
  min-height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column; 
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  transition: background-image 0.5s ease-in-out, background-color 0.5s ease-in-out;

}

.fullName {
  background-image: url("../img/anerie.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80vw;
  aspect-ratio: 4 / 1; /* maintains logo shape without fixed vh height */
  pointer-events: none;
}


.topButtons {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  gap: 20px; /* space between buttons */
  z-index: 10;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
}

.iconButton img {
  width: 78px;
  height: 48px;
}

.iconButton:hover {
  transform: scale(1.1);
}
