.button {
    background-image: url("../img/back.png");
    width: 17vw;
    height: 7vh;
    position: fixed;
    transition: transform 0.2s ease;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; 
    cursor: pointer;
    transition: transform 0.2s ease;
    border: none;
    background-color: transparent; 
    right: 2px;
    bottom: 25px;

  }

.button:hover {
  transform: scale(1.1);
}